@import "../../node_modules/bootstrap/dist/css/bootstrap";
@import "component/header";
@import "component/footer";
body{
    background-color: rgb(221, 218, 215);
}

p{
    margin: 0;
}

main{
    background-image: url("../img/fond-d-écran-de-lumières-vintage.jpg");
    background-position: center center;
    background-size: stretch;
    min-height: calc(100vh - 78px);
}

/* Navbar fixée en top juste en dessous du bandeau*/
.navbar
        {
            border:2px solid #000;
            position: fixed;
            top: 75px;
            z-index: 1;
        }

/*UN poeu de SASS pour que les lignes du tableau de la page admin soient noir*/
.table{
    border:2px solid #000;  
    font-size: 20px;
    & td,th{
        border:1px solid #000;
    }
}
/* hauteur en pixel de la zone d'édition du ckeditor*/
.ck-editor__editable_inline{
    height:200px;
}