@import "../../node_modules/bootstrap/dist/css/bootstrap";
@import "component/header";
@import "component/footer";
body{
    background-color: rgb(221, 218, 215);
}
header{
    background-color: rgb(255, 255, 255);
}
p{
    margin: 0;
}

main{
    min-height: calc(100vh - 78px);
}
