/*header{
    color: rgb(255, 221, 127);
}
body{
    background-image: url(../img/concert-fete.jpg);
    background-color: rgba(37, 25, 25, 0.589);
}
form{
    background-color: rgb(179, 112, 112);
    border: 6px lightcoral double;
    background-size: contain;
    border-radius: 20px;

}*/