header{
    /*background-image: url("../img/guirlandes-guinguette.jpg") ;*/
    background-color: white;
}
/* Permet de fixer le bandeau au top*/
.fixetop {
    position: top;
    top: 0;
    z-index: 1;
}
/* marge pour que le corps de plage commence bien en dessous du beandeau, défini par la hauteur en pixel de l'image*/
.marge{
    padding-top: 75px;
}
/* Gere l'affichage du bandeau pour les petits écrans*/
@media screen and (max-width: 588px) {
    h1{
        font-size: 30px;
    }

}